.form input {
  font-family: "Roboto", sans-serif;
  outline: 9;
  background:  #eaeaea;
  width: 70%;
  border: 0;
  margin: 0 0 14px;
  padding: 14px;
  box-sizing: border-box;
  font-size: 15px;
}
.login-page {
  width: 330px;
  padding: 1% 0 0;
  margin: auto;
}button {
  background-color: #0845aa;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}